<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @parent.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @parent.password %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>

<div>
  <br />
  <strong> Linked Child Account </strong>

  <br />
  <table>
    <tr>
      <th>Account Name</th>
      <th>Password</th>
    </tr>
    <% @child.each do |i| %>
      <tr>
        <td><%= i.user %></td>
        <td><%= i.password %></td>
      </tr>
    <% end %>
  </table>
</div>