

<h1>Add your Child</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@child) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.hidden_field :parent_id, value: session[:parent_id] %>

      <%= f.submit "Create Your Child Profile", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
