    
    
<body class= "adults">   
    <h1 class="parshow">Welcome <%= @parent.name%></h1>
    
    
    <%= render 'layouts/header' %>
        <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th>Your Children</th>
          </tr>
        </thead>
        <tbody>
          <% @child.each do |i| %>
            <tr>
              <td><%= link_to i.name, i, class: "tdlink" %>
                <i class="fas fa-child"></i></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="show">Have More Children? <%= link_to "Add New Child ", new_child_path, class: "btn btn-success" %></p>
    </div>
    <%= debug(params) if Rails.env.development? %>
</body>    
