<body class="gifts">
  <div class="winter-is-coming">
    
    <div class="snow snow--near"></div>
    <div class="snow snow--near snow--alt"></div>
    
    <div class="snow snow--mid"></div>
    <div class="snow snow--mid snow--alt"></div>
    
    <div class="snow snow--far"></div>
    <div class="snow snow--far snow--alt"></div>
  </div>
  <%= render 'layouts/header' %>
  
  
  <h1 class="kidshow2"><i class="fas fa-gift"></i> Write your Present <i class="fas fa-gift"></i></h1>
  <h2 class="kidsh2">Add what present you want Santa to bring!</h2>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@wishlist) do |f| %>
        <%= f.label :name, "Present Name" %>
        <%= f.text_field :name %>
        
  
        <%= f.hidden_field :child_id, value: session[:current_child_id] %>
        <div class="kidfont">
        <%= f.submit "Add it to your Wishlist", class: "btn btn-lg btn-success" %>
        </div>
      <% end %>
  
    </div>
  </div>
</body>