<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @wishlist.child_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @wishlist.product_id %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
